body {
font-family: Arial, sans-serif;
background-color: #f9f9f9;
color: #333;
margin: 0;
padding: 0;
text-align: center;
}


header {
background-color: #4CAF50;
color: white;
padding: 20px;
}


section {
padding: 20px;
margin: 10px;
font-size: 20px;
}


footer {
background-color: #333;
color: white;
padding: 1px;
position: fixed;
bottom: 0;
width: 100%;
}


img {
width: 200px;
border-radius: 50%;
margin-top: 10px;
}
